@media screen and (max-width: 599px) {
	#header {
		width: 100%;
	}
	#header #logo {
		position: static;
	}
	#logo img {
		width: 100%;
	}
	#header #search {
		position: relative;
		top: 0px;
	}
	#header .links {
		position: static;
	}
}